<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Potvrda spremanja</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}">
</head>
<body>
<div th:replace="logoutHeader :: logout"></div>
<h1 align="center">Pregled bilješke prije spremanja</h1>
<form th:action="@{/spremiBiljesku}" method="post">
<table style="margin: 0 auto;">
<tr>
<td>Korisnik:</td>
<td th:text="|${novaBiljeskaForm.korisnik.imeKorisnika} 
${novaBiljeskaForm.korisnik.prezimeKorisnika}|">Puno ime korisnika</td>
</tr>
<tr>
<td>Bilježnica:</td>
<td th:text="${novaBiljeskaForm.biljeznica.naziv}">Naziv bilježnice</td>
</tr>
<tr>
<td>Naslov:</td>
<td th:text="${novaBiljeskaForm.naslovBiljeske}">Naslov bilješke</td>
</tr>
<tr>
<td>Tekst:</td>
<td th:text="${novaBiljeskaForm.text}">Neki text</td>
</tr>
<tr>
<td colspan="2" align="center">
<input type="button" class="btn btn-outline-secondary btn-sm" value="Vrati se na uređivanje bilješke"
 onclick="window.location.href='http://localhost:8080/labos1/novaBiljeska'"/>
 <input type="submit" value="Spremi bilješku" class="btn btn-primary btn-sm"/>
</td>
</tr>
</table>
</form>
</body>
</html>